@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart Grocery List</h1>
    <p class="lead">This grocery list writes itself. Utilizing n-tier architecture, this MVC project analyzes user data to generate a list of items the user needs to purchase based on their purchasing history. (Note: smart list capability has not yet been coded.)</p>
    <p><a href="https://github.com/1rochelle/SmartGroceryList2.0.git" class="btn btn-primary btn-lg">View Full Project on Github &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-6">
        <h2>The Problem</h2>
        <p>For most parents, life is a balancing act. Every day brings a fresh wave of responsibilities and things to remember. It's easy to forget something important when you run to the store. This means you'll have to make two shopping trips instead of one.</p>
    </div>
    <div class="col-md-6">
        <h2>Our Solution</h2>
        <p>Parents won't have to remember to take a detailed inventory of their household before running to the store. With our app, all of our users' purchases are tracked and analyzed to reliably estimate which items need to be bought. Just open the app, and view your custom grocery list.</p>
    </div>
</div>*@